h1{
    color:aquamarine;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#container{
    margin: auto;
    border: 2px solid red;
}
.nav-list{
    list-style: none;
    display: inline;
    text-align: center;
    padding: 15px;
}
.section.text{
    width: 750px;
    padding: 20px;
}
img{
    text-align: center;
    float: left;
}
#nav{
    text-align: center;
    display: inline;
    border: 1px solid green;
}
 #header{
    border: 2px solid blue;
    text-align: center;
 }
 #content{
    border: 1px solid purple;
    height: 610px;
 }
 #footer{
    text-align: center;
 }